html{
    width: 60em;            
    margin: auto;           /* stands in the middle*/ 
}

body{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 0;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "head head"
        "menu aside"
        "news aside"
        "footer aside";
}

#signup {
    float: right; 
}

#menu ul {
    display: flex; 
    flex-direction: row; 
    grid-area: menu; 
}

#menu ul li{
    flex-grow: 1; 
}


header{
    grid-area: head; 
}

#menu{
    grid-area: menu; 
}

aside{
    grid-area: aside; 
}

